[Unit]
Description=Weekly Kernel Updates
Requires=kernel-updates.service

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
